.AuthWrapperGrid {
    min-height: 100vh;
    justify-content: center;
}

.BgButton {
    margin: 20px 25px;
}

.AuthPageLeftImageWrapper {
    display: flex;
    align-items: center;
    max-width: 731;
}

.AuthPageLeftImageWrapper img {
    width: 100%;
}

.GridItems {
    height: 100vh;
}

.Watchimagewrapper {
    height: 90%;
    display: flex;
}

.LoginFormWrapper {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.LoginTextHeading {
    margin-top: 100px;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #000000;
    margin-bottom: 7px;
}

.samllBreaker {
    border-top: 1px solid #FA9E93;
    max-width: 178px;
    width: 100%;
}

.LoginWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.Signintext {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #C91416;
    margin: 12px 0 30px 0;
}

.InputWrapper {
    width: 450px;
    margin-bottom: 15px;
}

.InputFiledsLogin {
    background: #E6E6E6;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #737373;
}

.LoginBtn {
    margin-top: 35px;
    font-style: normal;
    font-weight: 700;
    font-size: 24px !important;
    line-height: 28px !important;
    color: #FFFFFF;
    width: 200px;
    height: 70px;
    background: #EC6453 !important;
    border-radius: 15px;
}

@media only screen and (max-width: 600px) {

    .MobileViewNone {
        display: none;
    }

    .InputWrapper {
        width: 350px;
    }
}