:root {
    --dark-grey: #15192250;
    --light-grey: #ccc;
    --active: #4a4a4a;
    --border: #48cae4;
    --accent: #ade8f4;
    --size: 100px;
    --border-size: 3px;
}

.circularloader {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    background-color: var(--dark-grey);
    color: var(--light-grey);
    font-family: Poppins;
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    left: 0;
}

.circles {
    position: relative;
    display: flex;
    border: var(--border-size) solid var(--accent);
    width: calc(var(--size) - 45px);
    height: calc(var(--size) - 45px);
    border-radius: 50%;
    margin: 0;
    padding: 0;
    box-shadow: 10px 0 0 -10px var(--accent), 0 5px 0 10px var(--border), 0 0 10px 10px var(--border), 10px 5px 30px 0 var(--border);
    animation: rotate 0.9s linear infinite;
}

.circles:before,
.circles:after {
    position: absolute;
    content: "";
    border-radius: 50%;
}

.circles:before {
    border: var(--border-size) solid var(--accent);
    width: calc(var(--size) - 45px);
    height: calc(var(--size) - 45px);
    border-radius: 50%;
    margin: 0;
    padding: 0;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}